<div class="datepicker">
    <div class="datepicker__header">
        <span class="rotate-svg-180 svg-link g items-center">
            {% include /icons/chevron-m--small.svg %}
        </span>
        <span class="datepicker__month svg-link">
            juli 2019
            <span class="datepicker__chevron-down rotate-svg-90">
                {% include /icons/chevron-s--small.svg %}
            </span>
        </span>
        <span class="svg-link g items-center">
            {% include /icons/chevron-m--small.svg %}
        </span>
    </div>

    <div class="datepicker__grid f-grey">
        <div>ma</div>
        <div>di</div>
        <div>wo</div>
        <div>do</div>
        <div>vr</div>
        <div>za</div>
        <div>zo</div>
    </div>
    <div class="bo-b mb-2"></div>

    <div class="datepicker__grid">
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">1</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">2</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">3</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">4</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">5</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">6</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">7</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">8</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">9</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">10</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">11</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">12</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">13</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">14</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">15</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">16</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle">17</div>
        <div class="datepicker__day datepicker__day--enabled js-dp-toggle datepicker__day--today is-active">18</div>
        <div class="datepicker__day datepicker__day--disabled">19</div>
        <div class="datepicker__day datepicker__day--disabled">20</div>
        <div class="datepicker__day datepicker__day--disabled">21</div>
        <div class="datepicker__day datepicker__day--disabled">22</div>
        <div class="datepicker__day datepicker__day--disabled">23</div>
        <div class="datepicker__day datepicker__day--disabled">24</div>
        <div class="datepicker__day datepicker__day--disabled">25</div>
        <div class="datepicker__day datepicker__day--disabled">26</div>
        <div class="datepicker__day datepicker__day--disabled">27</div>
        <div class="datepicker__day datepicker__day--disabled">28</div>
        <div class="datepicker__day datepicker__day--disabled">29</div>
        <div class="datepicker__day datepicker__day--disabled">30</div>
        <div class="datepicker__day datepicker__day--disabled">31</div>
    </div>
</div>