<footer class="footer {% if page.bg=='bg-white' %}bo-t{% endif %} js-footer">
    <div class="container">
        <div class="grid grid--footer" data-type="bottomfootermenu">
            <div class="grid__unit pv-0">
                <div class="footer__menuContainer bo-none pv-4 mb-0">
                    <ul class="footer__menu list list--horizontal" data-controller="generic/ui/EqualWidth">
                        <li class="list__item">
                            <a href="/disclaimer.html" class="arrowLink arrowLink--grey">
                                Disclaimer</a>
                        </li>
                        <li class="list__item">
                            <a href="/privacy" class="arrowLink arrowLink--grey">
                                Privacy</a>
                        </li>
                        <li class="list__item">
                            <a href="/privacy/cookiebeleid.html" class="arrowLink arrowLink--grey">
                                Cookies</a>
                        </li>
                        <li class="list__item">
                            <a href="/bedrijfsinformatie.html" class="arrowLink arrowLink--grey">
                                Bedrijfsinformatie</a>
                        </li>
                        <li class="list__item">
                            <a href="/voorwaarden.html" class="arrowLink arrowLink--grey">
                                Voorwaarden en folders</a>
                        </li>
                    </ul>
                    <div class="nslogo nslogo--footer">
                        <a class="nslogo__link" href="/" title="Ga naar de homepagina">
                            <img class="nslogo__image" src="/assets/img/NS_logo.svg" height="20" width="52" alt="Logo Nederlandse Spoorwegen" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>