<div data-hero="#">
    <div class="hero-base
        {{ include.class }}
        {% unless include.content=="inside" %}hero-base--outside{% endunless %}">
        
        <img class="hero-base__img" src="/assets/img/{{ include.img }}.jpg" />
        <div class="hero-base__gradient"></div>

        {% if include.flow %}
        <figure class="hero-base__flow">{% include flows/flow-gradient-white.svg %}</figure>
        {% endif %}

        <div class="hero-base__content
            {% unless include.content=="inside" %}mb-4 mb-8@m{% endunless %}"
            data-hero-content="{{ include.content }}">

            <div class="container container--narrow">
                <header class="mxw-700">
                    {% if include.breadcrumb %}
                    <ul class="breadcrumb mb-0 a a-fi-right-200px">
                        <li class="breadcrumb__item
                            {% if include.content=="inside" %}f-white ts-2{% endif %}">
                            
                            <a class="unlink" href="#">
                                {{ include.breadcrumb }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}

                    <h1>
                        {% if include.subtitle %}
                        <div class="h h-xs h--normal
                            {% if include.content=="inside" %}f-white ts-2 {% endif %}
                            mb-2 a a-fi-right-200px a-stag a-del-350">

                            {{ include.subtitle }}
                        </div>
                        {% endif %}

                        <div class="h h-xl
                            {% if include.content=="inside" %}f-white ts-2 {% endif %}
                            a a-fi-right-200px a-stag a-del-350">

                            {{ include.title }}
                        </div>
                    </h1>

                    {% if include.button %}
                    <div class="mt-4 a a-fi-right-200px a-del-500">
                        <a href="#" class="button {{ include.buttonClass }}">CTA (optional)</a>
                    </div>
                    {% endif %}
                </header>
            </div>
        </div>
    </div>
</div>