<div class="hero-base">
    <img class="hero-base__img" src="/assets/img/no22.jpg" />
    <div class="hero-base__gradient"></div>
    <figure class="hero-base__flow">{% include flows/flow-gradient-white.svg %}</figure>
    <div class="container container--narrow">
        <header class="mxw-700">
            <h1 class="mb-4">
                <div class="hero-base__subtitle h h-xs h--normal mb-2 a a-fi-right-200px a-stag a-del-350">
                    Subtitle (optional)
                </div>
                <div class="hero-base__title h h-xl a a-fi-right-200px a-stag a-del-350">
                    Laat je verassen door een te gekke hero
                </div>
            </h1>
            <div class="a a-fi-right-200px a-del-500">
                <a href="#" class="button button--brand">CTA (optional)</a>
            </div>
        </header>
    </div>
</div>