<div class="{{ include.span }}">
    <div class="product-tile {{ include.class }}
        {% if include.highlight %}product-tile--hightlight{% endif %}">

        {% if include.highlight %}
        <div class="product-tile__highlight">
            {{ include.highlight }}
        </div>
        {% endif %}

        <div class="product-tile__grid">
            <h2 class="product-tile__heading {% unless include.cta %}product-tile__heading--underline{% endunless %} fw-b">
                {{ include.title }}
                {% unless include.cta %}
                <span class="hidden-until@ml">
                    {% include icons/chevron-m--small.svg %}
                </span>
                {% endunless %}
            </h2>

            {% if include.price-message %}
            <p class="f14 lh-title f-blue ml-1">{{ include.price-message }}</p>
            {% else %}

            <div class="product-tile__price">
                <h3 class="product-tile__heading">
                    <b>€ {{ include.price }}</b>
                    <span class="product-tile__period f14 lh-title f-blue">
                        / {{ include.period }}
                    </span>
                </h3>
            </div>
            {% endif %}
        </div>

        {% if include.message %}
        <p class="f12 f-green-sexy-2 mb-3 pos-r">{{ include.message }}</p>
        {% endif %}

        <ul class="list-tick list-tick--small mt-2 pr-6">
            {% for detail in include.details %}
            <li>{{ detail }}</li>
            {% endfor %}
        </ul>

        {% if include.cta %}
        <div class="mt-3 self-end">
            <button class="button button--brand button--buy w-100">{{ include.cta }}</button>
        </div>
        {% endif %}
    </div>
</div>