<div class="selector">
    <!-- option 1 -->
    <div class="selector__item js-selector-item">
        <header class="g g-1-m items-center">
            <div>
                <h3 class="selector__title">Nu bankrekening bevestingen</h3>
                <p class="selector__description">Met een iDEAL-betaling van € 0,01</p>
            </div>
        </header>

        <div class="is-hidden js-selector-content">
            <div class="mt-2">
                <select class="select ub-select">
                    <option>Kies uw bank</option>
                    <option>ABN AMRO</option>
                    <option>ASN Bank</option>
                    <option>Rabobank</option>
                    <option>ING</option>
                    <option>Handelsbanken</option>
                    <option>Bunq</option>
                    <option>Van Lanschot</option>
                    <option>Volksbank</option>
                </select>
            </div>
        </div>
    </div>

    <!-- option 2 -->
    <div class="selector__item js-selector-item">
        <header class="g g-1-m items-center">
            <div>
                <h3 class="selector__title">Later bevestigen</h3>
                <p class="selector__description">
                    De bestelling voorlopig afronden en later
                    € 0,01 via iDEAL betalen
                </p>
            </div>
        </header>

        <div class="is-hidden js-selector-content">
            <hr class="mt-2">
            <div class="mt-2">
                U ontvangt een e-mail met link voor de iDEAL-betaling op <b>henk@ns.nl</b>.
            </div>
        </div>
    </div>
</div>