<div class="{{ include.span }}">
    <div class="tile-base {{ include.class }}">
        {% if include.img %}
        <img src="/assets/img/{{ include.img }}.jpg" alt="{{ include.img }}" class="tile-base__img mb-2">
        {% endif %}

        {% if include.specs %}
        <p class="f14 f-grey-40 mb-3px">{{ include.specs }}</p>
        {% endif %}

        {% if include.heading %}
        <div><h3 class="tile-base__heading h f24">{{ include.heading }}</h3></div>
        {% endif %}

        {% if include.description %}
        <p class="f-grey-40 mt-4px">{{ include.description }}</p>
        {% endif %}

        {% if include.price %}
        <p class="tile-base__price mt-1 {% unless include.description %}mt-10px{% endunless %}">
            Vanaf <b>€ {{ include.price }}</b>
        </p>
        {% endif %}

        {% if include.links %}
        <ul class="list-clear mt-3">
            {% for entry in include.links %}
            <li class="mb-2"><a href="" class="link-clean-u">{{ entry }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if include.cta %}
        <div class="mt-1 {% if include.price %}mt-2{% endif %}">
            <a href="#" class="link-clean">{{ include.cta }} <span class="pos-r top-1px">→</span></a>
        </div>
        {% endif %}
    </div>
</div>