<div class="tile-product {{ include.class }} {% if include.highlight %}tile-product--hightlight{% endif %}">

    {% if include.highlight %}
    <div class="tile-product__highlight">
        {{ include.highlight }}
    </div>
    {% endif %}

    <div class="mb-2px">
        <h3 class="tile-product__heading fw-b {% unless include.cta %}tile-product__heading--underline{% endunless %}">
            {{ include.title }}
            {% unless include.cta %}
            <span class="hidden-until@ml">
                {% include icons/chevron-m--small.svg %}
            </span>
            {% endunless %}
        </h3>

        {% if include.price-message %}
        <p class="f14 lh-title f-blue ml-1">{{ include.price-message }}</p>
        {% else %}

        <div class="tile-product__price">
            <h4 class="tile-product__heading">
                <b>€ {{ include.price }}</b>
                <div class="f14 lh-title f-blue">
                    / {{ include.period }}
                </div>
            </h4>
        </div>
        {% endif %}
    </div>

    {% if include.message %}
    <p class="pos-r f12 f-green-sexy-2 mb-1 pr-8">{{ include.message }}</p>
    {% endif %}

    <ul class="list-tick list-tick--small mt-10px pr-6">
        {% for detail in include.details %}
        <li>{{ detail }}</li>
        {% endfor %}
    </ul>

    {% if include.cta %}
    <div class="mt-3 self-end">
        <button class="button {{ include.button }} w-100">{{ include.cta }}</button>
    </div>
    {% endif %}
</div>