<div class="{{ include.span }}">
    <div class="tile-portal">
        <img src="/assets/img/{{ include.img }}.jpg" class="tile-portal__img hidden-until@sm" />
        <div class="g g-1-m gap-2 items-center">
            <h3 class="h h-xxs">
                <span class="tile-portal__heading">{{ include.heading }}</span>
                <span class="tile-portal__icon">{% include icons/chevron-m--small.svg %}</span>
            </h3>
            <div class="g g-m-m gap-1 items-center">
                <span class="svg-light-blue">{% include icons/user--small.svg %}</span>
                <p class="f14 f-light-blue">{{ include.amount }}</p>
            </div>
        </div>
        <p class="f16 f18@m f-grey-40 mt-1 mt-2@m">{{ include.description }}</p>
    </div>
</div>