/*-------------------
        Form
--------------------*/

// formfield items
// ----------------------------------------
.ff {
    position: relative;
    margin-bottom: $gutter;
}

// modifiers
.ff--grid {
    display: grid;
    grid-column-gap: $gutter;
    grid-row-gap: 4px;
    max-width: 600px;

    @include sm {
        margin-bottom: $half-gutter;
        grid-template-columns: 2fr 5fr;
    }

    .ff__label {
        @include sm {
            position: relative;
            top: 11px;
            text-align: right;
            line-height: $lh-title;
        }
    }
}

.ff--radio {
    margin: $gutter 0;
    grid-row-gap: 8px;

    .ff__label {
        @include sm {
            top: 0;
        }
    }
}

// elements
.ff__error {
    margin: 4px 0 0;
    @include font(14px, normal, $lh-copy);
    color: $ns-red-alert;
}

.ff__label {
    color: $ns-blue;
}

.ff__description {
    margin: 7px 0 0;
    @include font(14px, normal, $lh-copy);
    color: $ns-grey-4;
}


// icons
// ----------------------------------------------
.ff__icon {
    transition: $fade-all;
    position: absolute;
    top: 13px;
    right: 14px;
}

.ff__icon--left {
    left: 28px;
    right: auto;
}

.ff__icon--loading {
    svg {
        transform-origin: 50% 50%;
        animation: rotate $loader-speed linear infinite;
        fill: $ns-blue;
        transition: $fade-link;
    }
}


// event states
// ----------------------------------------------
.ff-opacity-hidden {
    opacity: 0;

    &.is-active {
        opacity: 1;
    }
}


// section
// ----------------------------------------------
.ff-section {
    margin: $gutter 0;
    padding-top: $gutter;
    border-top: 1px solid $ns-grey-7;

    @include sm {
        margin: $one-half-gutter 0;
        padding-top: $one-half-gutter;
    }
}


// cta
// ----------------------------------------------
.ff-cta {
    margin: $gutter 0;
    padding-top: $half-gutter;
    border-top: 1px solid $ns-grey-7;
    text-align: right;

    @include sm {
        margin: $one-half-gutter 0;
    }
}


// input field
// ----------------------------------------------
.ff-input {
    // lay-out
    width: 100%;
    padding: 10px 14px;
    height: $button-height;

    // styling
    -webkit-appearance: none;
    background-color: $ns-white;
    border: 1px solid $ns-grey-6b;
    @include font(18px, bold, 25px);
    color: $ns-blue;
    transition: $fade-link;

    &.is-error {
        border: 1px solid $ns-red-alert;
    }

    &::placeholder {
        opacity: 1;
        @include font(16px, normal, 25px);
        color: $ns-grey-4;
    }

    &:focus {
        outline: none;
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
        color: $ns-blue;
    }

    &:-webkit-autofill {
        box-shadow: $bs-autofill;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }
}

.ff-input--no-border {
    border: 1px solid $ns-white;

    &:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
        color: $ns-blue;
    }

    &:-webkit-autofill {
        border: 1px solid $ns-blue-4;
        box-shadow: $bs-autofill;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }

    &.is-error {
        border: 1px solid $ns-red-alert;
    }

    &.is-error:focus {
        border: 1px solid $ns-light-blue;
    }
}

.ff-input--select {
    line-height: $lh-solid;
}

.ff-input--textarea {
    height: 120px;
    resize: none;
}

.no-touch {
    .ff-input:hover {
        border: 1px solid $ns-grey-5;
    }

    .ff-input:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
    }

    .ff-input:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }

    .ff-input--no-border:hover {
        border: 1px solid $ns-white;

        &.is-error {
            border: 1px solid $ns-red-alert;
        }

        &.is-error:focus {
            border: 1px solid $ns-light-blue;
        }
    }

    .ff-input--no-border:hover:focus {
        border: 1px solid $ns-light-blue;
    }

    .ff-input--no-border:-webkit-autofill:hover {
        border: 1px solid $ns-blue-4;
        box-shadow: $bs-autofill;
    }

    .ff-input--no-border:-webkit-autofill:hover:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-autofill-focus;
    }
}

// toggle password
.ff-input__toggle-password {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;

    svg {
        fill: $ns-grey-5;
        transition: $fade-all;
    }

    span:last-child {
        display: none;
    }

    &.is-active {
        span:first-child {
            display: none;
        }

        span:last-child {
            display: block;
        }
    }
}

.no-touch {
    .ff-input__toggle-password {
        &:hover {
            svg {
                fill: $ns-grey-4;
            }
        }
    }
}


// checkbox
// ------------------------------------
.ff-checkbox {
    .checkbox__label:after {
        border: none;
        transform: none;
        width: 14px;
        height: 14px;
        top: 5px;
        left: 3px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.25 7.626'%3E%3Cpath fill='%2300AA89' d='M3.25,7.626a.747.747,0,0,1-.53-.22l-2.5-2.5A.75.75,0,1,1,1.28,3.845L3.208,5.773,7.931.262a.75.75,0,1,1,1.138.977L3.819,7.364a.75.75,0,0,1-.54.261Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition: $fade-link;
    }

    .checkbox__label:before {
        border: $input-border;
        transition: $fade-link;
    }

    .checkbox__input:checked+.checkbox__label:after {
        opacity: 1;
    }

    .checkbox__input.is-error+.checkbox__label:before {
        border: 1px solid $ns-red-alert !important;
    }

    // remove focus outline
    .checkbox__label,
    .checkbox__label:before,
    .checkbox__input+.checkbox__label:before,
    .checkbox__input:checked+.checkbox__label:before {
        outline: none;
    }

    .checkbox__input:focus+.checkbox__label:before {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
    }
}



// radio button
// ------------------------------------
.ff-radio {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ff-radio--card {
    padding-right: 16px;
    max-width: 280px;
}

.ff-radio__content {
    margin: 10px 0 $gutter;
}

.radioButton__input+.radioButton__label:before {
    outline: none !important;
    border: $input-border;
    transition: $fade-link;
}

.radioButton__input:focus+.radioButton__label:before {
    border: 1px solid $ns-light-blue !important;
    box-shadow: $bs-focus;
}

.radioButton__input.is-error+.radioButton__label:before {
    border: 1px solid $ns-red-alert !important;
}

.radioButton__input:checked+.radioButton__label:after {
    background-color: $ns-green-sexy;
}

.no-touch {
    .radioButton__input:hover+.radioButton__label:before {
        border: $input-border-hover;
    }
}


// hide up and down arrows
// ----------------------------------------
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

// hide autofill safari icon in input field
// ----------------------------------------
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}