.c-tile {
    position: relative;
}

// modifiers
.c-tile--hover {
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: - space(2);
        left: - space(2);
        width: calc(100% + #{$gutter});
        height: calc(100% + #{$gutter});
        border-radius: $border-radius-l;
        box-shadow: $box-shadow-tile-hover;
        opacity: 0;
        transition: $fade-all;
    }

    &:hover,
    &:focus {
        &:before {
            opacity: 1;
        }

        .c-tile__heading:after {
            transform: scaleX(1);
        }
    }
}

.c-tile--hover-heading {
    .c-tile__heading {
        cursor: pointer;

        &:hover:after {
            transform: scaleX(1);
        }
    }
}



// elements
// --------------------------------------------------
.c-tile__img {
    width: 100%;
    height: 200px;
    border-radius: $border-radius-m;
    object-fit: cover;
}

.c-tile__heading {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 2px;
        left: 0;
        background-color: $ns-blue;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: $fade-link;
    }
}

.c-tile__price {
    display: inline-block;
    padding: 3px 7px;
    background-color: $ns-yellow;
    color: $ns-blue;
    border-radius: $border-radius;
    font-size: toRem(12px);
    text-transform: uppercase;
}