.toggle {
    position: relative;
    display: flex;
}

.toggleButton {
    float: initial;
    margin-left: -1px;
    width: 100%;

    &:first-child {
        margin: 0;
    }

    @include sm {
        width: auto;
    }
}

.toggleButton__label {
    transition: $fade-link;
    width: 100%;
    position: relative;
    border: 1px solid $ns-grey-6b;
    color: $ns-light-blue;
    background-color: transparent;
    box-shadow: none;

    &:hover {
        box-shadow: none;
        border-color: $ns-blue;
        color: $ns-blue;
        z-index: 2;
    }

    &:focus {
        outline: none;
    }

    @include sm {
        width: 100px;
    }
}

.toggleButton__input {
    &:checked+.toggleButton__label {
        font-weight: bold;
        line-height: 24px;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px $ns-blue;
        border-color: $ns-blue;
        color: $ns-blue;
        z-index: 3;

        &:hover {
            box-shadow: inset 0 0 0 1px $ns-blue;
            border-color: $ns-blue;
        }
    }

    &:focus+.toggleButton__label,
    &:checked:focus+.toggleButton__label {
        outline: none;
        border-color: $ns-light-blue;
        box-shadow: 0 0 0 1px $ns-light-blue, $box-shadow-soft;
        z-index: 3;
    }
}