.selector__item {
    position: relative;
    margin-bottom: space(2);
    padding: 20px;
    border-radius: 4px;
    transition: $fade-all;
    cursor: pointer;

    &:before {
        content: "";
        @include full(absolute);
        border: 1px solid $ns-grey-80;
        border-radius: 4px;
        transition: $fade-all;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-selected {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);

        &:before {
            border: 2px solid $ns-light-blue;
        }

        .selector__title {
            color: $ns-blue;
        }
    }
}

.selector__title {
    margin: 0 0 4px;
    @include font(18px, bold, $lh-copy);
    color: $ns-light-blue;
    transition: $fade-all;
}

.selector__description {
    margin: 0;
    @include font(14px, normal, $lh-copy);
    color: $ns-grey-40;
}

.selector__divider {
    border-bottom: 1px solid $ns-grey-90;
    margin-bottom: 12px;
    padding-bottom: 14px;
}

.selector__property {
    position: relative;
    padding: space(2) 0;
    border-top: 1px solid $ns-grey-90;

    &:last-child {
        border-bottom: 1px solid $ns-grey-90;
    }
}

.selector__property-container {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: space(2);
    align-items: center;
    min-height: 28px;

    &.is-active {
        grid-template-columns: 1fr max-content max-content;
    }
}

.selector__toggle {
    display: flex;
    align-items: center;
}

.selector__edit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
    left: -4px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

// no touch
.no-touch {
    .selector__item {
        &:hover:not(.is-selected) {
            &:before {
                border: 1px solid $ns-grey-60;
            }
            .selector__title {
                color: $ns-blue;
            }
        }
    }
}