.collapsible {
    position: relative;
    margin-top: -1px;
    border-top: 1px solid $ns-grey-90;
    border-bottom: 1px solid $ns-grey-90;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
        margin: 0;
    }

    &.is-active {
        .collapsible__icon {
            svg {
                transform: rotate(45deg);
            }
        }
    }
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;

    &:hover,
    &:focus {
        outline: none;

        .collapsible__title {
            color: $ns-blue;
        }

        .collapsible__icon {
            svg {
                fill: $ns-blue;
            }
        }
    }
}

.collapsible__title {
    margin-right: 14px;
    color: $ns-light-blue;
    transition: $fade-link;
    font-size: toRem(18px);
}

.collapsible__icon {
    line-height: 0;
    flex-shrink: 0;
    flex-basis: 19px;

    svg {
        line-height: 0;
        fill: $ns-light-blue;
        transition: $fade-link;
    }
}

.collapsible__content {
    margin-right: 28px;
    margin-bottom: 21px;

    p {
        margin-bottom: 21px;
    }

    ul {
        margin-top: 7px;
    }

    h4,
    b,
    i {
        color: $ns-blue;
    }

    h4 {
        font-weight: bold;
    }
}

// modifiers
// ----------------------------------------------
.collapsible--exp-nav {
    margin: 0 0 14px;
    border: 1px solid $ns-grey-90;
    border-radius: $border-radius;
    transition: $fade-all;

    &:first-child {
        margin: 0 0 14px;
    }

    .collapsible__header {
        padding: 21px;
    }

    .collapsible__title {
        font-weight: bold;
    }
}

.no-touch {
    .collapsible--exp-nav:hover,
    .collapsible--exp-nav:focus {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);
    }
}