/*-------------------
  generic overrides
-------------------*/

.content {
    background-color: transparent;
    margin-top: $navbar-height - 1;
    min-height: calc(100vh - 500px);
}

.content--footer-light {
    @include md {
        min-height: calc(100vh - 140px);
    }
}

.list__item {
    margin-bottom: 0.5rem;
}

.tile__content {
    p {
        margin-bottom: 1.25rem;
    }
}

.tile,
.notificationBar,
.notificationList {
    box-shadow: none;
}

.notificationBar__text {
    @include sm-max {
        font-size: toRem(14px);
    }
}

.header {
    box-shadow: 0 1px 0 0 rgba(7, 7, 33, .15);
}

input,
.formfield,
.textInput,
.inputSpacer__displayContainer,
.select {
    border-radius: 4px;
}

.checkbox__label:before {
    border-radius: 2px;
}

.overlay__content--cookie {
    @include sm-max {
        min-height: calc(100vh - 14px);
    }
}

.overlay__body--cookie {
    padding-bottom: 84px;
    
    @include sm {
        padding-bottom: $gutter;
    }
}

.overlay__sticky-bottom {
    position: fixed;
    bottom: 0;
    width: calc(100% - 14px);
    z-index: 999;
    box-shadow: 0 -1px 0 $ns-grey-alpha-15;
}