/*-------------------
  generic overrides
-------------------*/

.content {
    // margin-top: $navbar-height - 1;
    min-height: calc(100vh - 500px);
    background-color: transparent;
}

.content--footer-light {
    @include respond-min($l) {
        min-height: calc(100vh - 140px);
    }
}

.list__item {
    margin-bottom: 0.5rem;
}


// ------------------------------------
.tile {
    box-shadow: none;
    border-radius: 8px;
    overflow: hidden;
}

.tile__backgroundImage picture img,
.tile__header--image .tile__expander {
    border-radius: 8px 8px 0 0;
}

.tile--banner .tile__backgroundImage,
.tile--contentBanner .tile__backgroundImage,
.tile--banner .tile__backgroundImage:after {
    border-radius: 8px;
}

.tile__heading {
    margin-bottom: space(2);
}

.tile__content {
    p {
        margin-bottom: 1.25rem;
    }
}


// ------------------------------------
.notificationBar,
.notificationList {
    box-shadow: none;
}

.notificationBar__text {
    @include respond-max($m) {
        font-size: toRem(14px);
    }
}


// ------------------------------------
.richText {
    h2 {
        color: $ns-blue;
        letter-spacing: $ls-heading;

        @include font(24px, bold, $lh-title);

        @include respond-min($m) {
            font-size: toRem(32px);
        }
    }

    p,
    li {
        @include font(18px, normal, $lh-copy);
    }
}

.container--article {
    @include respond-min($l) {
        padding-top: 100px;
    }
}


.header {
    box-shadow: 0 1px 0 0 rgba(7, 7, 33, .15);
}

input,
.formfield,
.textInput,
.inputSpacer__displayContainer,
.select {
    border-radius: 4px;
}

.checkbox__label:before {
    border-radius: 2px;
}

.overlay__content--cookie {
    @include respond-max($m) {
        min-height: calc(100vh - 14px);
    }
}

.overlay__body--cookie {
    padding-bottom: 84px;

    @include respond-min($m) {
        padding-bottom: $gutter;
    }
}

.overlay__sticky-bottom {
    position: fixed;
    bottom: 0;
    width: calc(100% - 14px);
    z-index: 999;
    box-shadow: 0 -1px 0 $ns-grey-alpha-15;
}

.closeButton:focus {
    outline: none;
}