/*-------------------
  generic overrides
-------------------*/

.content {
    background-color: $ns-grey-8;
    margin-top: $navbar-height - 1;
    min-height: calc(100vh - 500px);
}

.content--footer-light {
    @include md {
        min-height: calc(100vh - 140px);
    }
}

.list__item {
    margin-bottom: 0.5rem;
}

.tile__content {
    p {
        margin-bottom: 1.25rem;
    }
}

.tile,
.notificationBar,
.notificationList {
    box-shadow: none;
}

.notificationBar__text {
    @include sm-max {
        font-size: toRem(14px);
    }
}

.header {
    box-shadow: 0 1px 0 0 rgba(7, 7, 33, .15);
}

button,
input,
.formfield,
.textInput,
.button,
.inputSpacer__displayContainer,
.select {
    border-radius: 4px;
}

.button--buy:before {
    left: auto;
    margin-left: toRem(-35px);
}

.checkbox__label:before {
    border-radius: 2px;
}