.container--narrow {
    padding: 0 14px;

    @include respond-min($m) {
        padding: 0 2rem;
    }
}

.center {
    @include center(flex);
}


// flexbox grid
// -----------------------------------------
.f-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -space(2);
}

.f-grid--center {
    align-items: center;
}

.f-grid__unit {
    flex: 1 100%;
    padding: space(2);
}

.f-grid__unit-1\@ml {
    @include respond-min($ml) {
        flex: 1;
    }
}

.f-grid__unit-2\@ml {
    @include respond-min($ml) {
        flex: 2;
    }
}

.f-grid__unit-3\@ml {
    @include respond-min($ml) {
        flex: 3;
    }
}

.f-grid__unit-4\@ml {
    @include respond-min($ml) {
        flex: 4;
    }
}

.f-grid__unit-5\@ml {
    @include respond-min($ml) {
        flex: 5;
    }
}