.container--narrow {
    padding: 0 14px;

    @include sm {
        padding: 0 2rem;
    }
}

.center {
    @include center(flex);
}


// flexbox grid
// -----------------------------------------
.f-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$half-gutter;
}

.f-grid--center {
    align-items: center;
}

.f-grid__unit {
    flex: 1 100%;
    padding: $half-gutter;
}

.f-grid__unit--m-1 {
    @include m {
        flex: 1;
    }
}

.f-grid__unit--m-2 {
    @include m {
        flex: 2;
    }
}

.f-grid__unit--m-3 {
    @include m {
        flex: 3;
    }
}

.f-grid__unit--m-4 {
    @include m {
        flex: 4;
    }
}

.f-grid__unit--m-5 {
    @include m {
        flex: 5;
    }
}