/*-------------------
    Mixins
--------------------*/

// typography
// ------------------------------
@function toRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin font($size, $weight, $factor) {
    font-size: toRem($size);
    font-weight: $weight;
    line-height: $factor;
}



// spacers
// ------------------------------
@function space($factor) {
    @if $factor == 0 {
        @return $factor;
    } @else { 
        @return $factor * $global-baseline;
    }
}



// lay-out
// ------------------------------
@mixin full($p) {
    position: $p;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@mixin bg($s) {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $s;
}

@mixin center($d) {
    display: $d;
    align-items: center;
    justify-content: center;
}