---
title: Buttons
buttonGroup:
  - title: Primairy / Default
    button:
    - loader: true
    - loader: true
      modifier: button--buy
    - disabled: true
  - title: Secondary
    button:
    - loader: true
      modifier: button--secondary
    - loader: true
      modifier: button--secondary button--buy
    - disabled: true
  - title: Tertiary
    button:
    - modifier: button--tertiary
    - modifier: button--tertiary
      disabled: true
  - title: Brand
    button:
    - loader: true
      modifier: button--brand
    - loader: true
      modifier: button--brand button--buy
    - disabled: true
---

<section class="mv-4 mv-8-sm">
    <div class="container container--narrow">
        <header class="mb-4 mb-8-sm">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>

        {% for buttonGroup in page.buttonGroup %}
        <div class="g g-2-sm g-4-md gap-4 mb-4">
            {% for button in buttonGroup.button %}
            <div>
                <button class="button {{ button.modifier }}"
                        {% if button.loader %}data-loader="true"{% endif %}
                        {% if button.disabled %}disabled{% endif %}>
                    {{ buttonGroup.title }}
                </button>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>