---
title: Forms
---

<section class="mv-4 mv-8-sm">
    <div class="container container--narrow">
        <header class="mb-4 mb-8-sm">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>
    </div>
</section>

<section>
    <div class="container container--narrow">
        <form id="js-form" action="#">
            {% include input.html
                title='Label'
                type='text'
                required='required'
                placeholder='Placeholder'
            %}

            {% include input.html
                title='Tussenvoegsel'
                type='text'
            %}

            {% include input.html
                title='e-mailadres'
                type='email'
                required='required'
                description='Voor de bevestiging en status updates.'
            %}
            <div class="ff-cta">
                <button class="button button--brand button--arrow w-100 w-auto-sm" type="submit">
                    Verder
                </button>
            </div>
        </form>
    </div>
</section>