---
title: Forms
---

<section class="mv-4 mv-8-sm">
    <div class="container container--narrow">
        <header class="mb-4 mb-8-sm">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>
    </div>
</section>

<section>
    <div class="container container--narrow" style="min-height: 80vw;">
        <form id="js-form" action="#">
            {% include input.html
                title='Label'
                type='text'
                required='required'
                placeholder='Placeholder'
            %}

            {% include input.html
                title='Tussenvoegsel'
                type='text'
                width='mxw-150'
            %}

            {% include input.html
                title='e-mailadres'
                type='email'
                required='required'
                description='Voor de bevestiging en status updates.'
            %}

            {% include input.html
                title='datum'
                type='text'
                placeholder='dd-mm-jjjj'
                value='18-07-2019'
                width='mxw-250'
                required='required'
                date-icon='true'
            %}

            <div class="ff ff--grid ff--radio">
                <label class="ff__label">Zat er een hoesje omheen?</label>
                <div>
                    <div class="js-ff-rc">
                        <div class="radioButton ff-radio js-radio">
                            <input type="radio" class="radioButton__input" id="hoesje-1" name="hoesje" required>
                            <label class="radioButton__label" for="hoesje-1">
                                Geen hoesje
                            </label>
                        </div>
                        <div class="radioButton ff-radio js-radio">
                            <input type="radio" class="radioButton__input" id="hoesje-2" name="hoesje">
                            <label class="radioButton__label" for="hoesje-2">
                                Hoesje om de achterkant
                            </label>
                        </div>
                        <div class="radioButton ff-radio js-radio">
                            <input type="radio" class="radioButton__input" id="hoesje-3" name="hoesje">
                            <label class="radioButton__label" for="hoesje-3">
                                Hoesje om de voor- en achterkant
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <div class="ff ff--grid">
                <div></div>
                <div>
                    <div class="checkbox formfield__checkbox ff-checkbox js-ff-rc">
                        <input type="checkbox" class="checkbox__input" id="conditions" name="conditions" required>
                        <label class="checkbox__label" for="conditions">
                            Ja, ik ga akkoord met de algemene voorwaarden
                        </label>
                    </div>
                </div>
            </div>

            <div class="ff-cta">
                <button class="button button--brand button--arrow w-100 w-auto-sm" type="submit">
                    Verder
                </button>
            </div>
        </form>
    </div>
</section>

{% include datepicker-bottom-sheet.html %}