---
title: Buttons
---

<section class="mv-4 mv-8-sm">
    <div class="container container--narrow">
        <header class="mb-4 mb-8-sm">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>

        {% for buttonGroup in site.data.buttons %}
        <h2 class="h-xxs mb-2">{{ buttonGroup.title }}</h2>
        <div class="g g-2-sm g-4-md gap-4 mb-4">
            {% for button in buttonGroup.button %}
            <div>
                {% if button %}
                <button class="button {{ button.modifier }}" {% if button.loader %}data-loader="true" {% endif %}
                    {% if button.disabled %}disabled{% endif %}>
                    {{ buttonGroup.title }}
                </button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <hr class="mb-4">
        {% endfor %}

        <h2 class="h-xxs mb-2">Toggle</h2>
        <div class="g g-2-sm g-4-md gap-4 mb-4">
            <div class="toggle">
                <div class="toggleButton">
                    <input type="radio" class="toggleButton__input" id="2nd-class" name="class"
                        value="2nd-class" required="">
                    <label class="toggleButton__label" for="2nd-class" tabindex="-1">2e klas</label>
                </div>
                <div class="toggleButton">
                    <input type="radio" class="toggleButton__input" id="1st-class" name="class"
                        value="1st-class">
                    <label class="toggleButton__label" for="1st-class" tabindex="-1">1e klas</label>
                </div>
            </div>
        </div>
        <hr class="mb-4">

        <h2 class="h-xl mt-8 mb-4">Guidelines</h2>
        <ul class="mxw-750 mb-8 mb-12-sm">
            <li>
                Never use more then one primairy button on a single page. Except a long page where the same call to
                action destination is repeated at the bottom of the page.
            </li>
            <li>
                Don’t use classic disable buttons at all by default. If a buttons gets disabled it keeps its color and
                gets a spinner (without text) – except for the tertairy button because it’s only used next to another
                button. When multiple buttons are displayed, only the clicked buttons gets a spinner.
            </li>
            <li>
                When leading to a buy funnel – not a subscription overview for example – a cart icon must be added.
                Colour priority: yellow, primairy, secundairy depending on design.
            </li>
            <li>
                Only use arrows in the funnel itself and in combination with brand button (yellow).
            </li>
            <li>
                Default no icons. Icons are optional. If use an icon, only use one and before text. Except arrows: they
                must be placed after the text. Never use an icon and arrow at the same time.
            </li>
            <li>
                Don’t use subtle buttons on an image background – you can use them on yellow or light grey.
            </li>
            <li>
                Use text / icon colour as displayed in previews above.
            </li>
            <li>
                Never use a secondary button for submitting a form
            </li>
            <li>
                Brand (yellow) button is used for: hero/banner, entering funnel and funnel itself.
            </li>
            <li>
                Floating buttons are used for maps.
            </li>
        </ul>
    </div>
</section>