---
title: Forms
---

<section class="mv-4 mv-8@sm">
    <div class="container container--narrow">
        <header class="mb-4 mb-8@sm">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>
    </div>
</section>

<section>
    <div class="container container--narrow" style="min-height: 40vw;">
        <form id="js-form" action="#">
            <div class="ff ff--grid js-formfield">
                <label class="ff__label" for="station">
                    Station
                </label>
                <div class="pos-r js-formfield js-input-station">
                    <input class="ff-input" type="text" id="station" name="station" autocomplete="off" required />
                    <div class="suggest js-suggest is-hidden"></div>
                </div>
            </div>

            {% include input.html
                title='Tussenvoegsel'
                type='text'
                width='mxw-150'
            %}

            {% include input.html
                title='e-mailadres'
                type='email'
                required='required'
                description='Voor de bevestiging en status updates.'
            %}

            {% include input.html
                title='datum'
                type='text'
                placeholder='dd-mm-jjjj'
                maxlength='10'
                width='mxw-250'
                required='required'
                date-icon='true'
            %}

            <div class="ff ff--grid ff--radio">
                <label class="ff__label">Zat er een hoesje omheen?</label>
                <div class="js-ff-rc">
                    <div class="radioButton ff-radio js-radio">
                        <input type="radio" class="radioButton__input" id="hoesje-1" name="hoesje" required>
                        <label class="radioButton__label" for="hoesje-1">
                            Geen hoesje
                        </label>
                    </div>
                    <div class="radioButton ff-radio js-radio">
                        <input type="radio" class="radioButton__input" id="hoesje-2" name="hoesje">
                        <label class="radioButton__label" for="hoesje-2">
                            Hoesje om de achterkant
                        </label>
                        <div class="ff-radio__content js-radio-content is-hidden">
                            <input class="ff-input" type="text" id="prev-radioreveal" name="prev-radioreveal" />
                        </div>
                    </div>
                    <div class="radioButton ff-radio js-radio">
                        <input type="radio" class="radioButton__input" id="hoesje-3" name="hoesje">
                        <label class="radioButton__label" for="hoesje-3">
                            Hoesje om de voor- en achterkant
                        </label>
                    </div>
                </div>
            </div>

            <div class="ff ff--grid js-formfield">
                <label class="ff__label" for="kleur">Kleur</label>
                <div>
                    <select class="select ff-input ff-input--select js-select-other" id="kleur" name="kleur" required>
                        <option selected disabled>Kies een kleur</option>
                        <optgroup label="----------------"></optgroup>
                        <option>Grijs / Zilver / Chroom</option>
                        <option>Wit</option>
                        <option>Zwart</option>
                        <optgroup label="----------------"></optgroup>
                        <option>Blauw</option>
                        <option>Doorzichtig</option>
                        <option>Geel / Goud</option>
                        <option>Groen</option>
                        <option>Paars</option>
                        <option>Rood</option>
                        <option value="other">Anders namelijk...</option>
                    </select>
                    <div class="is-hidden">
                        <textarea class="ff-input ff-input--textarea mt-2" id="andere-kleur" name="andere-kleur"
                            required></textarea>
                    </div>
                </div>
            </div>

            <hr class="mt-6 mb-4">

            <div class="ff ff--grid">
                <div></div>
                <div class="checkbox formfield__checkbox ff-checkbox js-ff-rc">
                    <input type="checkbox" class="checkbox__input" id="conditions" name="conditions" required>
                    <label class="checkbox__label" for="conditions">
                        Ja, ik ga akkoord met de algemene voorwaarden
                    </label>
                </div>
            </div>

            <div class="ff-cta">
                <button class="button button--brand button--arrow w-100 w-auto@sm" type="submit">
                    Verder
                </button>
            </div>
        </form>
    </div>
</section>

{% include datepicker-bottom-sheet.html %}