---
title: Tiles
category: components

products:
    links:
        - Online kaartje kopen
        - Abonnementen
        - 'Spoordeelwinkel: Trein + Uitje'
        - OV-fiets en meer
        - Voordelig dagje uit
        - Internationale treinkaartjes

subscription:
    details:
        - 40% korting in het weekend
        - 40% korting buiten de spits
        - 20% korting in de spits

bike:
    details:
        - Betaal maandelijks, alleen voor wat je gebruikt
        - Bij alle stallingen, vol is vol
        - Alleen persoonlijke OV-chipkaart
---

<section class="mv-4 mv-8@m">
    <div class="container container--narrow">
        <header>
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>
    </div>
</section>

<!-- base tiles -->
<section class="mb-4 mb-8@m" id="base">
    <div class="container container--narrow">
        <header class="mb-6">
            <h2 class="h-xxs mb-1">Base tiles</h2>
            <p class="txt-body f-blue mxw-500">
                This base tile is common use in the CMS system. Used on a white background.
            </p>
        </header>

        <div class="g g-2@m g-3@xl col-gap-4 row-gap-8 mb-8 mb-12@m">
            {% include tile-base.html
                class="tile-base--hover"
                img="no19"
                heading="Stationsontwikkelingen"
                description="NS wil voorzien in makkelijk, snel, veilig en betaalbaar reizen"
            %}

            {% include tile-base.html
                class="tile-base--hover"
                img="no2"
                specs="6,5 tot 10 km"
                heading="Wandeling Helderse Duinen"
                description="Van station Den Helder Zuid naar station Den Helder"
            %}

            {% include tile-base.html
                class="tile-base--hover"
                img="no5"
                specs="Spoordeelwinkel"
                heading="Dagje Rotterdam"
                description="Dagretour + Koffie"
                price=25
            %}

            {% include tile-base.html
                heading="Producten"
                links=page.products.links
            %}

            {% include tile-base.html
                class="tile-base--hover"
                img="no21"
                specs="Bestel NS Flex"
                heading="Per maand kiezen of je met korting reist"
                cta="Ja, ik wil NS Flex"
            %}

            {% include tile-base.html
                class="tile-base--hover tile-base--tall"
                img="no9"
                specs="NS Favourites"
                heading="Stedengids Amsterdam"
                cta="Laat je inspireren"
            %}

            {% include tile-base.html
                span="gc-2@m"
                class="tile-base--hover tile-base--tall"
                img="no6"
                specs="Treinpakkers"
                heading="Dagje uit naar keuze"
                price=19
            %}
        </div>
    </div>
</section>

<!-- portal tiles -->
<section class="mb-4 mb-8@m bo-t pt-4 pt-8@m" id="portal">
    <div class="container container--narrow">
        <header class="mb-6">
            <h2 class="h-xxs mb-1">Portal tiles</h2>
            <p class="txt-body f-blue mxw-500">
                Used for the NS Zakelijk portal page — no image on mobile
            </p>
        </header>

        <div class="g g-2@m g-3@xl col-gap-4 row-gap-8 mb-8 mb-12@m">
            {% include tile-portal.html
                img="mkb"
                heading="MKB"
                description="Regel efficiënt de mobiliteit van uw medewerkers. Ontdek met de NS‑Business Card de mogelijkheden in combinatie met de auto."
                amount="2 - 250"
            %}
        </div>
    </div>
</section>

<!-- product tiles -->
<section class="bg-grey-94 pv-8" id="product">
    <div class="container container--narrow">
        <header class="mb-6">
            <h2 class="h-xxs mb-1">Product tiles</h2>
            <p class="txt-body f-blue mxw-500">
                Always use this tile in combination with a non-white background colour.
            </p>
        </header>
        <div class="g g-2@ml g-3@xl gap-4">
            {% include tile-product.html
                title="Dal Voordeel"
                price="5"
                period="mnd"
                details=page.subscription.details
            %}

            {% include tile-product.html
                title="Altijd Voordeel"
                highlight="Meest gekozen"
                price="32"
                period="mnd"
                details=page.subscription.details
            %}

            {% include tile-product.html
                title="Weekend Vrij"
                price="20"
                period="mnd"
                details=page.subscription.details
            %}

            <div class="pa-3 bg-white">
                <h3 class="f-blue mb-2">Product tile on top of white background</h3>
                {% include tile-product.html
                    class="tile-product--border"
                    title="Dal Voordeel"
                    price="5"
                    period="mnd"
                    details=page.subscription.details
                %}
            </div>

            {% include tile-product.html
                title="Jaarabonnement"
                price="75"
                period="jaar"
                message="Onbeperkt toegang tot deze stalling"
                details=page.bike.details
                cta="Bekijk en bestel"
            %}

            {% include tile-product.html
                title="Op rekening"
                price="1,25"
                period="dag"
                message="Eerste 24 uur gratis bij deze stalling"
                details=page.subscription.details
                cta="Meld je gratis aan"
                button="button--brand"
            %}

            {% include tile-product.html
                class="tile-product--read-only"
                title="Per keer betalen"
                price="1,25"
                period="dag"
                message="Eerste 24 uur gratis bij deze stalling"
                details=page.bike.details
                cta="Aanmelden niet nodig"
            %}
        </div>
    </div>
</section>

<!-- todo: reisplanner tiles -->
<!-- todo: actuele situatie tiles -->