---
title: Heros
category: components
---

<section class="mv-4 mv-8@m">
    <div class="container container--narrow">
        <header class="mb-4 mb-8@m">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>
    </div>
</section>

<section class="mb-8 mb-16@m">
    <div class="container container--narrow">
        <header class="mb-4">
            <h2 class="h-xxs mb-1">Content in photo on top</h2>
            <p class="txt-body f-blue mxw-500">
                This is the default. Flow, subtitle, breadcrumb and cta button is optional.
            </p>
        </header>
    </div>
    {% include hero-base.html
        content="inside"
        img="no26"
        subtitle="Subtitle (optional)"
        title="Laat je inspireren door een fraaie hero"
        flow=true
        button=true
        buttonClass="button--brand"
    %}
</section>

<section class="mb-8 mb-16@m">
    <div class="container container--narrow">
        <header class="mb-4">
            <h2 class="h-xxs mb-1">Content in photo on bottom</h2>
            <p class="txt-body f-blue mxw-500">
                Flow, subtitle, breadcrumb and cta button is optional.
            </p>
        </header>
    </div>
    {% include hero-base.html
        content="inside"
        img="hero-rtd"
        class="hero-base--bottom"
        breadcrumb="Stationsinformatie"
        title="Rotterdam Centraal"
    %}
</section>

<section class="mb-8 mb-16@m">
    <div class="container container--narrow">
        <header class="mb-4">
            <h2 class="h-xxs mb-1">Content outside photo on top</h2>
            <p class="txt-body f-blue mxw-500">
                Flow, subtitle, breadcrumb and cta button is optional.
            </p>
        </header>
    </div>
    <hr class="mb-8">
    {% include hero-base.html
        content="outsideBefore"
        img="no12"
        breadcrumb="Fietsenstallingen"
        title="Bewaakte fietsenstalling"
        no-gradient=true
    %}
</section>