---
title: Tiles
category: components
---

<section class="mv-4 mv-8@m">
    <div class="container container--narrow">
        <header class="mb-4 mb-8@m">
            <h1 class="f-blue">{{ page.title }}</h1>
            <hr>
        </header>

        <ul>
            <li>Base</li>
            <li>Wandeling</li>
            <li>Spoordeelwinkel</li>
            <li>Highlight</li>
            <li>Banner</li>
            <li>Content Banner</li>
            <li>Reisplanner</li>
            <li>Product</li>
            <li>Landing (zakelijk)</li>
        </ul>

        <hr class="mv-4 mv-8@m">

        <div class="g g-2@m g-3@xl col-gap-4 row-gap-10">
            {% include tile.html 
                img="no1" 
                heading="Stationsontwikkelingen" 
                description="NS wil voorzien in makkelijk, snel, veilig en betaalbaar reizen" 
            %}

            {% include tile.html 
                img="no2"
                specs="6,5 tot 10 km"
                heading="Helderse Duinen" 
                description="Van station Den Helder Zuid naar station Den Helder" 
            %}
        </div>
    </div>
</section>