/*-------------------
       Spacings
--------------------*/

.ma-auto {margin: auto;}
.mh-auto {margin: 0 auto;}
.mv-auto {margin: auto 0;}
.pa-2r {padding: 2rem;}
.ph-2r {padding-left: 2rem; padding-right: 2rem;}
.mt-nf-1px:not(:first-child) { margin-top: -1px; }

@include respond-min($m) {
    .ma-auto\@m {margin: auto;}
    .mh-auto\@m {margin: 0 auto;}
    .mv-auto\@m {margin: auto 0;}
    .ml-auto\@m {margin-left: auto;}
    .mr-auto\@m {margin-right: auto;}
    .pa-2r\@m {padding: 2rem;}    
}
@include respond-max($m) {
    .ma-auto-until\@m {margin: auto;}
    .mh-auto-until\@m {margin: 0 auto;}
    .mv-auto-until\@m {margin: auto 0;}
    .ml-auto-until\@m {margin-left: auto;}
    .mr-auto-until\@m {margin-right: auto;}
    .pa-2r-until\@m {padding: 2rem;}    
}
@include respond-min($l) {
    .ma-auto\@l {margin: auto;}
    .mh-auto\@l {margin: 0 auto;}
    .mv-auto\@l {margin: auto 0;}
    .pa-2r\@l {padding: 2rem;}  
}
@include respond-min($xxl) {
    .ma-auto\@xxl {margin: auto;}
    .mh-auto\@xxl {margin: 0 auto;}
    .mv-auto\@xxl {margin: auto 0;}
    .pa-2r\@xxl {padding: 2rem;}   
}

@for $i from 0 through 20 {	
	// margin
	.ma-#{$i} {	margin: space($i) }
	.mh-#{$i} {	margin-left: space($i); margin-right: space($i); }
	.mv-#{$i} {	margin-top: space($i); margin-bottom: space($i); }
	.mt-#{$i} {	margin-top: space($i); }
	.mb-#{$i} {	margin-bottom: space($i); }
	.ml-#{$i} {	margin-left: space($i); }
	.mr-#{$i} {	margin-right: space($i); }

	// padding
	.pa-#{$i} {	padding: space($i); }
	.ph-#{$i} {	padding-left: space($i); padding-right: space($i); }
	.pv-#{$i} {	padding-top: space($i); padding-bottom: space($i); }
	.pt-#{$i} {	padding-top: space($i); }
	.pb-#{$i} {	padding-bottom: space($i); }
	.pl-#{$i} {	padding-left: space($i); }
    .pr-#{$i} {	padding-right: space($i); }

    @include respond-min($m) {
        // margin
        .ma-#{$i}\@m { margin: space($i) }
        .mh-#{$i}\@m { margin-left: space($i); margin-right: space($i); }
        .mv-#{$i}\@m { margin-top: space($i); margin-bottom: space($i); }
        .mt-#{$i}\@m { margin-top: space($i); }
        .mb-#{$i}\@m { margin-bottom: space($i); }
        .ml-#{$i}\@m { margin-left: space($i); }
        .mr-#{$i}\@m { margin-right: space($i); }

        // padding
        .pa-#{$i}\@m { padding: space($i); }
        .ph-#{$i}\@m { padding-left: space($i); padding-right: space($i); }
        .pv-#{$i}\@m { padding-top: space($i); padding-bottom: space($i); }
        .pt-#{$i}\@m { padding-top: space($i); }
        .pb-#{$i}\@m { padding-bottom: space($i); }
        .pl-#{$i}\@m { padding-left: space($i); }
        .pr-#{$i}\@m { padding-right: space($i); }
	}
    
    @include respond-max($m) {
        // margin
        .ma-#{$i}-until\@m { margin: space($i) }
        .mh-#{$i}-until\@m { margin-left: space($i); margin-right: space($i); }
        .mv-#{$i}-until\@m { margin-top: space($i); margin-bottom: space($i); }
        .mt-#{$i}-until\@m { margin-top: space($i); }
        .mb-#{$i}-until\@m { margin-bottom: space($i); }
        .ml-#{$i}-until\@m { margin-left: space($i); }
        .mr-#{$i}-until\@m { margin-right: space($i); }

        // padding
        .pa-#{$i}-until\@m { padding: space($i); }
        .ph-#{$i}-until\@m { padding-left: space($i); padding-right: space($i); }
        .pv-#{$i}-until\@m { padding-top: space($i); padding-bottom: space($i); }
        .pt-#{$i}-until\@m { padding-top: space($i); }
        .pb-#{$i}-until\@m { padding-bottom: space($i); }
        .pl-#{$i}-until\@m { padding-left: space($i); }
        .pr-#{$i}-until\@m { padding-right: space($i); }
    }

	@include respond-min($l) {
        // margin
        .ma-#{$i}\@l { margin: space($i) }
        .mh-#{$i}\@l { margin-left: space($i); margin-right: space($i); }
        .mv-#{$i}\@l { margin-top: space($i); margin-bottom: space($i); }
        .mt-#{$i}\@l { margin-top: space($i); }
        .mb-#{$i}\@l { margin-bottom: space($i); }
        .ml-#{$i}\@l { margin-left: space($i); }
        .mr-#{$i}\@l { margin-right: space($i); }

        // padding
        .pa-#{$i}\@l { padding: space($i); }
        .ph-#{$i}\@l { padding-left: space($i); padding-right: space($i); }
        .pv-#{$i}\@l { padding-top: space($i); padding-bottom: space($i); }
        .pt-#{$i}\@l { padding-top: space($i); }
        .pb-#{$i}\@l { padding-bottom: space($i); }
        .pl-#{$i}\@l { padding-left: space($i); }
        .pr-#{$i}\@l { padding-right: space($i); }
    }
    
	@include respond-min($xxl) {
        // margin
        .ma-#{$i}\@xxl { margin: space($i) }
        .mh-#{$i}\@xxl { margin-left: space($i); margin-right: space($i); }
        .mv-#{$i}\@xxl { margin-top: space($i); margin-bottom: space($i); }
        .mt-#{$i}\@xxl { margin-top: space($i); }
        .mb-#{$i}\@xxl { margin-bottom: space($i); }
        .ml-#{$i}\@xxl { margin-left: space($i); }
        .mr-#{$i}\@xxl { margin-right: space($i); }

        // padding
        .pa-#{$i}\@xxl { padding: space($i); }
        .ph-#{$i}\@xxl { padding-left: space($i); padding-right: space($i); }
        .pv-#{$i}\@xxl { padding-top: space($i); padding-bottom: space($i); }
        .pt-#{$i}\@xxl { padding-top: space($i); }
        .pb-#{$i}\@xxl { padding-bottom: space($i); }
        .pl-#{$i}\@xxl { padding-left: space($i); }
        .pr-#{$i}\@xxl { padding-right: space($i); }
	}
}

// nudges
@for $i from 1 through 12 {	
    .mt-#{$i}px { margin-top: #{$i}px; }
    .mb-#{$i}px { margin-bottom: #{$i}px; }
    .ml-#{$i}px { margin-left: #{$i}px; }
    .mr-#{$i}px { margin-right: #{$i}px; }
}