<!DOCTYPE html>
<html lang="nl-NL">

<head>

    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- META DATA -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noindex">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/ns.generic.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>

    <!-- TITLE -->
    <title>{{ page.title }} | NS</title>

</head>

<body class="{{ page.bg }}">

    <header class="pv-3 bg-white bs-c">
        <div class="container container--narrow">
            <a href="/" aria-label="logo" class="unlink">
                <img src="/assets/img/NS_logo.svg" alt="logo" />
                <span class="f18 f-blue fw-b ml-1 lh-solid pos-r top-2px">NS Design</span>
            </a>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <!-- JAVASCRIPT -->
    <script src="/assets/js/ns.generic.min.js"></script>
    <script src="/assets/js/ns.plugins.bundle.min.js"></script>
    <script src="/assets/js/generic.js"></script>
    <script src="/assets/js/collapsible.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/cookies.js"></script>
    <script src="/assets/js/loader.js"></script>

</body>

</html>